.image-article img {
    justify-content: center;
    margin-left: 25%;
    width: 50%;
}

.image-articleSim img {

    width: 90%;
}

.container-articleSim {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.column{
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 960px) {
    section .taille {
        text-align: center;
    }

    #btns_tailles {
        justify-content: center;
    }
}

.btns-taille{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}


.btns-taille label{
    float:left;
    flex: none !important;
    width: 20%;
}

.btns-taille:after{
    clear: both;
    display: table;
}
