/*------------------Menu filtre--------------------*/

.filtres-articles {
    border-color: black;
    font-size: 12px;
    font-family: var(--merri);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    display: block;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 700px) {

    .filtres-articles.hidden{
        display: none;
    }

    .filtres-articles.size-hidden{
        width: 0;
    }
}

@media only screen and (max-width: 700px) {
    .container-articles {
        flex-direction: column;
    }
    .filtres-articles.hidden{
        display: none;
    }
    .filtres-articles.size-hidden{
        height: 0;
    }
}

.style{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

#section-Homme {
    margin-top: 10px;
}

/*-------design checkbox----------*/
input[type="checkbox"]{
    display: none;
    transition: 10s;
}

label {
    position: relative;
    cursor: pointer;
}

label::before{
    content: "";
    border-radius: 100%;
    border: .02em solid black;
    width: 8px;
    height: 8px;
    position: absolute;
    margin-left: -10px;
    margin-top: 5px;



}




input:checked[type="checkbox"] + label::before{

}
/*-------------------------------------------------*/

.container-articles {
    display: flex;

}

.list-articles.row{
    margin-left: 0;
    margin-right: 0;
}

.item-article .card-title {
    font-size: 16px;
    flex: 1;
}

.item-article .card-text {
    font-size: 16px;
    color: grey;
}

.card-body-top{
    display: flex;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-cart{
    display: flex;
    justify-content: space-evenly;
}

.card-cart *{
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.card-body .card-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container-tri-top{
    display: flex;
    margin: 0.2em;
}

.tri-articles{
    flex: 1;
}


/*-------pagination----------*/

.pagination-articles{
    display: flex;
    justify-content: center;
}
.pagination > li > a
{
    background-color: white;
    color: black;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > li > span
{
    color: white !Important;
    background-color: black !Important;
    border: solid 1px black !Important;
}

.pagination > .active > a
{
    color: black !Important;
    background-color: white !Important;
    border: solid 1px black !Important;
}


.pagination > .active > a:hover
{
    color: white !Important;
    
    border: solid 1px black !Important;
}

/* admin article */

h3 {
    font-size: 25px;
    font-family: var(--merri);
    margin: 0 auto;
}

#tbody-article tr:hover {
    background: #fffecb;
}

.article-head , #tfoot-article{
    color: white;
    background: black;
    border:1px solid black !important;
}

.table, tr, td, th{
    border: 1px solid black !important;
    text-align: center;
}


#table-article{
    margin: auto;
}

.container-articles {
    display: flex;
    margin: 0;
    padding: 0;
}