.image-article img {
    justify-content: center;
    margin-left: 25%;
    width: 50%;
}

.image-articleSim img {

    width: 90%;
}

.container-articleSim {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.column{
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 960px) {
    section .taille {
        text-align: center;
    }
}

.btns-taille{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.btns-taille label{
    flex: none !important;
    width: 15%;
}
