/*---------commandes---------*/

.table th{
    font-weight: normal;
    font-family: var(--merri);
    font-size: 15px;
}
.table tbody td{
    font-family: var(--merri);
    font-size: 12px;
    border-bottom: 1px solid #dfdfdf;
}

.table {
    margin-bottom: 40px;
}

h3 {
    font-size: 25px;
    font-family: var(--merri);
    margin: 0 auto;
}

/*--------admin liste commandes---------*/

#tbody-commandes tr:hover {
    background: #fffecb;
}

.commande-head , #tfoot-commandes{
    background: #ffff6b;
}

.container .table, .container tr, .container td, .container th{
    border: 1px solid #ffff6b !important;
    text-align: center;
}

