/* import font*/
@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Muli|Lato|Merriweather+Sans|Roboto|Sofia&display=swap');

:root{
    --light-gray: #2b3032a1;
    --primary-color: white;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "Roboto", sans-serif;
    --merri: "Merriweather Sans", sans-serif;
    --sofia: "Sofia", cursive;
}

.lignes_commandes {
    margin-top: 30px;
    font-size: 12px;
    font-family: var(--merri);
    font-weight: normal;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #DAEBF3;
}

.lignes_commandes div {
    margin-bottom: 5px;
}

.montant-commande , .date-commande, .adresse-commande, .articles-commande{
    margin-top: 30px;
}

.montant-commande, .status-commande {
    font-weight: bold !important;
}

.btn-payer {
    font-weight: normal !important;
    border-radius: unset;
    font-family: var(--merri);
    font-size: 13px;
    margin-top: 20px;
    width: 15%;
}