/*---------commandes---------*/

.table th{
    font-weight: normal;
    font-family: var(--merri);
    font-size: 15px;
}
.table tbody td{
    font-family: var(--merri);
    font-size: 12px;
    border-bottom: 1px solid #dfdfdf;
}

.table {
    margin-bottom: 40px;
}

/*---------show---------*/
.show-commande {
}

.show-commande table{
    width: 85%;
    margin: auto;
}