/* import font*/
@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Muli|Lato|Merriweather+Sans|Roboto|Sofia&display=swap');

:root{
    --light-gray: #2b3032a1;
    --primary-color: white;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "Roboto", sans-serif;
    --merri: "Merriweather Sans", sans-serif;
    --sofia: "Sofia", cursive;
}

h2 {

    font-family: var(--merri);
    font-size: 25px;
    margin-top: 20px;
    padding-left: 15%;
    border-bottom: 2px black solid;
}

/*--------------info user --------------*/

h3, h4{
    color: black;
    font-family: var(--merri);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.infos-client div{
    font-family: var(--merri);
    font-size: 12px;
    color: black;
    margin-bottom: 5px;
    font-weight: normal;
}

td a {
    font-family: var(--merri);
    font-size: 12px;
    color: black;
    margin-bottom: 5px;
    text-decoration: black underline;
    font-weight: normal;
}

/*---------------adresses/commandes-------------------*/
tfoot {
    font-weight: bold;
    font-family: var(--merri);
    font-size: 13px;
}

.table th{
    font-weight: normal;
    font-family: var(--merri);
    font-size: 15px;
}
.table tbody td{
    font-family: var(--merri);
    font-size: 12px;
    border-bottom: 1px solid #dfdfdf;
}

.table {
    margin-bottom: 40px;
}

/*----------admin client----------*/

.item-client {
    font-family: var(--merri);
    font-size: 13px;
}

.adresses-client .table thead tr, .adresses-client .table thead th {
    border-top: none !important;
}


