/* import font*/
@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Muli|Lato|Merriweather+Sans|Roboto|Sofia&display=swap');

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#button-panier {
    display: flex;
    flex-direction: row;
}

:root{
    --light-gray: #2b3032a1;
    --primary-color: white;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "Roboto", sans-serif;
    --merri: "Merriweather Sans", sans-serif;
    --sofia: "Sofia", cursive;
}

/* header*/

header{
    background-color: var(--primary-color);
    font-family: var(--roboto);

}

header .site-title {
    height: 4em;
    background-image: url('/img/logo.png');
    background-repeat: no-repeat;
    background-size: auto 4em;
    margin: auto;
}

.header-links {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: flex-end;
}

.header-links.header-row{
    flex-direction: row;
    justify-content: flex-end;
}

.header-links a {
    color: black;
    font-size: 0.9em;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header-links a i{
    padding-right: 0.2em;
}

/* navbar*/

.navbar-bar {
    padding: 0.8em 0em;
    background-color: white ;
    color: black;
    border-color: black;
    display: flex;
    align-items: flex-start;
}

.navbar{
    flex: 1;
}

.navbar-toggler{
    color: black;
    font-size: 2.5em;
}

.nav-item .nav-link {
    color: black;
    font-size: 1em;
    font-family: 'Muli', sans-serif;
}

.navbar-right{
    display: flex;
    margin-right: 0.5em;
    flex-wrap: wrap;
}


.nav-search-bar{
    flex-wrap: nowrap;
}

.nav-search-bar i{
    font-size: 1.5em;
}

.btn-cart{
    display: flex;
    flex-wrap: nowrap;
}
.btn-cart i{
    font-size: 2em;
}

/* accueil*/

.carousel-item{
    /* background-image: url(https://www.azutura.com/media/catalog/product/cache/49/image/650x/040ec09b1e35df139433887a97daa66f/W/S/WS-47352_WP.jpg) ;*/
}

.carousel a{
    z-index: 1000;
}

.carousel-indicators li{
    background-color: grey;
}

.carousel-voile{
    position: absolute;
    z-index: 499;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.carousel-voile:hover{
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.carousel-item img{
    margin: auto;
    width: 500px;
}

.carousel-caption{
    z-index: 999;
    color: transparent;
    pointer-events:none;
}

.carousel-voile:hover + .carousel-caption{
    color: white;
}

.presentoir-all {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 90%;
    margin: auto;
    -webkit-overflow-scrolling: touch;
}

/* scrollbar*/
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 1em;
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
    box-shadow: inset 0 0 5px black;
}

.presentoir-all .card{
    flex: 0 0 auto;
}

.presentoir-2, .presentoir-4 {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.presentoir-2 .card{
    width: 45%;
}

.presentoir-4 .card{
    width: 22.5%;
}