
input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 60%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 10px;
}

button {
    -moz-box-shadow: inset 0px 1px 0px 0px black;
    -webkit-box-shadow: inset 0px 1px 0px 0px black;
    box-shadow: inset 0px 1px 0px 0px black;
    background-color: black;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;

}

form {
    margin-left: 45px;
}

