{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
<div>
        <div>
            <div >votre commande a été éffectué</div>
        </div>
</div>
{% endblock %}
