{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="/css/adresse.css"/>{% endblock %}

{% block body %}
<div>
        <div>
            <div>Votre commande a été éffectué</div>
        </div>
</div>
{% endblock %}
