{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/client.css"/>{% endblock %}

{% block body %}
{% include '/admin/panel.html' %}
<table>
    <th>liste des commandes</th>
    {% for commande in commandes %}
    <tr>
        <div class="commande">
            <td>N°{{commande.id}}</td>
            <td>Total: {{commande.getPrixTotal}}$</td>
            <td><button onClick={window.location='{{ path('admin_client_showCommande', {id: commande.id}) }}'}>detail</button></td>
        </div>
    </tr>
    {% endfor %}
</table>
{% endblock %}
