tr:hover {
    background: #dfdfdf;
}

  tfoot, .head{
    background-color: black;
    color: white;
}

.container .table, tr, td,  th{
    border: 1px solid black !important;
    text-align: center;
}

h4 {
    font-size: 25px;
    font-family: var(--merri);
    margin: auto;

}

.table{
    margin-bottom: 15%;
}