{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block stylesheets %}{{ block("stylesheets", "/admin/panel.html.twig") }}<link rel="stylesheet" href="/css/article.css"/>{% endblock %}

{% block body %}
{{ block("panel", "/admin/panel.html.twig") }}

<h3>liste des article</h3>
<div>
    <table id="table-article" class="tablee table-bordered table-hover">
        <thead>
            <tr class="table-active">
                <th class="th-tri">N°<i class="fas fa-sort"></i><input type="hidden" value="id.ASC"></th>
                <th class="th-tri">libelle<i class="fas fa-sort"></i><input type="hidden" value="libelle.ASC"></th>
                <th>image</th>
                <th class="th-tri">description<i class="fas fa-sort"></i><input type="hidden" value="description.ASC"></th>
                <th class="th-tri">prix_u<i class="fas fa-sort"></i><input type="hidden" value="prix_u.ASC"></th>
                
            </tr>
        </thead>
        <tbody id="tbody-article">
            
        </tbody>
        <tfoot id="tfoot-article">
            <tr class="table-active">
                <td colspan="6" class="text-center">
                    <button id="precedent">Précédent</button>
                    <span id="page"></span>
                    <button id="suivant">Suivant</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block javascripts %}<script src="/js/admin/article.js"></script>{% endblock %}
